@media only screen and (max-width:780px) {

    html,
    body {
        margin: 0px;
        padding: 0px;
    }


    .header-content {
        display: block;
        padding: 10px;
    }
    .txt{
        font-size: 15px;
        font-weight: bold;
    }

    .bestcity {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 6px;
    }

    .middle{
        width: 100%;
    }

    .middle-content{
        width: 100%;
    }

    .button-box {
        gap: 1px;
        margin: 0 auto;
        padding: 0 auto;
        width: 70%;
        margin-top: 9px;
    }

    .button {
        margin: 0 auto;
        font-size: 10px;
        }

    .wrapper {
        width: 100%;
    }

    .content{
        height: fit-content;
    }

    .content-content {
        display: block;
    }

    #Welocome-Box{
        height: 210px;
        padding-top: 40px;
    }
    #Left-Box{
        height: 230px;
    }

    .box1{
        margin: auto;
        width: 280px;
        padding-top: 15px;
    }
    .halfpic{
        width: 280px;
    }
    .navar{
        margin: 0 auto;
        display: block;
        position: inherit;

    }
    
    .halfpic{
       height: 40PX;
       opacity: 100%;
    }

    h4{
        margin: auto;
    }
    .p{
        display: none;
    }



}